$outer-height: 36px;
$inner-height: 24px;

.page-refresher-wrapper {
    display: block !important;
    position: fixed;
    right: 30px;
    bottom: 25px;
    padding: 0 5px;
    border: 1px solid rgba(0, 0, 0, .15);
    height: $outer-height;
    border-radius: 4px;
    background-color: #fff;
    box-sizing: border-box;

    &:before {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }

    > .title,
    > .checkbox-group,
    > .sec-select{
        font-size: 14px;
        display: inline-block;
        vertical-align: middle;
    }

    > .checkbox-group {
        user-select: none;
        transition: background-color .4s ease;

        &:hover {
            cursor: pointer;
        }

        > input {
            display: none;
        }

        i {
            display: inline-block;
            padding: 2px;
            width: ($inner-height - 4px) * 2;
            height: $inner-height - 4px;
            border-radius: ($inner-height + 4px) / 2;
            position: relative;
            background-color: #d8d9db;
            vertical-align: middle;
            box-sizing: initial;
            transition: .4s .09s ease;

            &:after {
                content: " ";
                display: block;
                position: absolute;
                left: 2px;
                width: $inner-height - 4px;
                height: $inner-height - 4px;
                border-radius: 50%;
                background-color: #fff;
                transition: .4s ease;
            }
        }

        > input:checked + i {
            background-color: #4bd865;
        }

        > input:checked + i:after {
            transform: translateX(20px);
        }
    }


    .sec-select {
        margin-left: 5px;
        padding: 0 8px;
        width: 80px;
        height: $inner-height;
        border: 1px solid rgba(0, 0, 0, .15);
        border-radius: 3px;
        font-size: 14px;
        color: #24292e;
        background-color: #fff;
        outline: none;
        transition: width .4s ease;
    }

    &.turn-on {
        > select {
            margin-left: 0;
            padding-left: 0;
            padding-right: 0;
            width: 0;
            border: none;
        }
    }
}